.main-content {
    display: flex;
    justify-content: center;
}

.content-wrapper {
   display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.25rem;
    width: 100%;
}

.heading {
    display: grid;
    justify-items: center;
    max-width: 244px;
}

.head-img {
    width: 100%;
    object-fit: cover;
    height: 240px;
}

.bubbles {
    display: flex;
    gap: 3rem;
    flex-direction: column;
    max-width: 328px;
}

.bubble {
    border: 1.5px solid var(--secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 1.5rem 0.5rem;
    text-align: center;
}

.bubble--right {
    border-radius: 12px;
    border-bottom-left-radius: 0;
}

.bubble--left {
    border-radius: 12px;
    border-bottom-right-radius: 0;
}

.bubble__link {
    color: var(--orange-dark);
    font-weight: bold;
}

.bubble__title {
    font-weight: bold;
}

.card {
    position: relative;
    margin-bottom: 1rem;
}

.card__desc {
    position: absolute;
    bottom: 0.5rem;
    background-color: var(--white);
    border-radius: 0 1.5rem 1.5rem 0;
    padding: 1rem;
    left: 0;
    right: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    font-weight: bold;
    text-align: center;
    height: 120px;
    justify-content: center;
}

.swiper__product {
    padding: 0.5rem 0;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.container__title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-weight: bold;
}

.swiper__container {
    width: 100%;
}

.logo__small {
    width: 128px;
}

.product__item {
    height: auto;
    max-width: 244px;
    object-fit: cover;
}

.product__image--wrapper{
    position: relative;
}
.product__image--wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}

.product__name {
    background-color: var(--primary);
    text-align: center;
    padding: 0.75rem;
    width: 100%;
    box-sizing: border-box;
    max-width: 244px;
    margin-top: 0.5rem;
}

.product__name--link {
    text-decoration: none;
    color: var(--black);
}

.cover__badge {
    background-color: var(--white);
    border-radius: 0 4rem 4rem 0;
    padding: 0.5rem 1rem;
    width: fit-content;
}

.cover__badge--orange {
    background-color: var(--orange-dark);
    color: var(--white);
    font-weight: bold;
}

.card__cover {
    position: absolute;
    margin: 0.5rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.card__link {
    font-weight: bold;
    color: var(--orange-dark);
}

.button {
    background-color: var(--orange-light);
    border: 2px solid var(--orange-dark);
    border-radius: 1.5px;
    width: fit-content;
    padding: 0.375rem;
    border-radius: 6px;
}

.button__link {
    display: flex;
    text-decoration: none;
    color: var(--black);
    align-items: center;
    gap: 0.25rem;
}

.card__image {
    height: 360px;
    width: 100%;
    object-fit: cover;
}

.swiper__review {
    display: flex;
    flex-direction: column;
    background-color: var(--primary);
    max-width: 244px;
    padding: 0.5rem;
    gap: 0.25rem;
    box-sizing: border-box;
}

.swiper__review__top {
    display: flex;
    justify-content: space-between;
    padding: 0.25rem 0rem;
}

.product__name--review {
    margin-bottom: 0.5rem;
}

.swiper__review__rating {
    display: flex;
    gap: 5px;

}

.swiper__review--text {
    display: flex;
    list-style-type: disc;
    height: 148px;
    padding-top: 1rem;
    padding-left: 2rem;
    align-items: flex-start;
    justify-items: center;
    background-color: var(--white);
    overflow-y: auto;
    box-sizing: border-box;

}

.image-link:hover {
    transform: translateY(-4px);
    filter: sepia(60%);
}

@media (min-width: 1024px) {
     .heading   {
        max-width: none;
     } 
     .heading img {
        max-width: 244px;
     }
     .cards {
        display: flex;
        gap: 1.5rem;

     }
     .card__image {
        width: 900px;
     }

}