@import url('https://api.fontshare.com/v2/css?f[]=satoshi@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree&display=swap');


@layer reset, theme, page;

@layer reset {
    html {
        font-family: var(--font-regular);
        font-size: 100%;
    }

    body {
        color: var(--black);
        background-color: var(--white);
        box-sizing: border-box;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: var(--font-heading);
    }

    ul {
        list-style-type: none;
    }

    img {
        display: block;
        max-width: 100%;
        /*background-color: var(--orange-light);*/
    }

    header {
        position: sticky;
        top: 0;
        z-index: 1000;
    }
}

@layer theme {
    :root {
        --black: #000;
        --white: #fff;
        --primary: #FEF1DD;
        --secondary: #18251B;
        --orange-dark: #D47A4A;
        --orange-light: #F8BF87;
        --green-light: #87F8B8;
        --green-dark: #4AD488;
        --blue-light: #87EDF8;
        --blue-dark: #4AD4D4;

        --font-heading: 'Satoshi', sans-serif;
        --font-regular: 'Figtree', sans-serif;
    }
}

@layer page {

    .mobile {
        display: flex;
        justify-content: center;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.25rem;
    }

    .heading {
        display: grid;
        justify-items: center;
        max-width: 244px;
    }
    .head__img {
        width: 100%;
        object-fit: cover;
        height: 240px;
    }

    .lepe_to_udelat_neslo {
        min-height: 4px;
        width: 100%;
        background-color: var(--secondary);
        border-radius: 5px;
    }

    .navigation {
        background-color: var(--secondary);
        display: flex;
        flex-direction: row;
        height: 76px;
        padding: 0 1rem;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    .navigation__logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .navigation__link {
        display: flex;
    }

    .footer__link {
        text-decoration: none;
        color: var(--white);
    }

    .navigation__link__item {}

    .footer {
        background-color: #18251B;
        display: flex;
        flex-direction: column;
        margin-top: 2.25rem;
    }

    .footer__link--socials {
        display: flex;
        justify-content: flex-start;
    }

    .footer__copyright {
        display: flex;
        gap: 0.5rem;
        color: var(--white);
        justify-content: flex-end;
    }

    .footer__bottom {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 1.25rem 1rem;
    }

    .footer__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 27px;
        padding: 1.25rem 1rem;
    }

    .footer__image {
        width: 100%;
        object-fit: cover;
        height: 240px;
    }

    .footer__decoration {
        position: relative;
    }

    .footer__svg {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 50%;
    }

    .grafier__logo {
        background-color: var(--white);
        padding: 0.25rem 0.75rem;
        border-radius: 2.5px;
    }

    .bubbles {
        display: flex;
        gap: 3rem;
        flex-direction: column;
    }

    .bubble {
        border: 1.5px solid var(--secondary);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        padding: 1.5rem 0.5rem;
        text-align: center;
    }

    .bubble--right {
        border-radius: 12px;
        border-bottom-left-radius: 0;
    }

    .bubble--left {
        border-radius: 12px;
        border-bottom-right-radius: 0;
    }

    .bubble__link {
        color: var(--orange-dark);
        font-weight: bold;
    }

    .bubble__title {
        font-weight: bold;
        font-size: 1.5rem;
    }

    .card {
        display: flex;
        gap: 1rem;
        flex-direction: column;
    }

    .card__product {
        position: relative;
    }

    .card__desc {
        position: absolute;
        bottom: 0.5rem;
        background-color: var(--white);
        border-radius: 0 1.5rem 1.5rem 0;
        padding: 1rem;
        left: 0;
        right: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        font-weight: bold;
        text-align: center;
    }

    .big__font {
        font-size: 1.25rem;
    }

    .swiper__product {
        padding: 0.5rem 0;
        background-color: var(--white);
        display: flex;
        flex-direction: column;
        justify-items: center;
    }

    .swiper__product__title {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        font-weight: bold;
        font-size: 1.5rem;
    }

    .swiper__product__item {
        height: auto;
        max-width: 244px;
        object-fit: cover;
    }

    .swiper__container {
        width: 100%;
    }

    /*.swipers {
        display: flex;
    }*/
    .swiper__product__name {
        background-color: var(--primary);
        text-align: center;
        padding: 0.75rem;
        width: 100%;
        box-sizing: border-box;
        max-width: 244px;
        margin-top: 0.5rem;
    }

    .swiper__product__name--text {
        text-decoration: none;
        color: var(--black);
    }

    .card__badge {
        background-color: var(--white);
        border-radius: 0 4rem 4rem 0;
        padding: 0.5rem 1rem;
        width: fit-content;
    }

    .card__badge--orange {
        background-color: var(--orange-dark);
        color: var(--white);
        font-weight: bold;
    }

    .card__badges {
        position: absolute;
        margin: 0.5rem 0;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .card__link {
        font-weight: bold;
        color: var(--orange-dark);
    }

    .button {
        background-color: var(--orange-light);
        border: 2px solid var(--orange-dark);
        border-radius: 1.5px;
        width: fit-content;
        font-size: 1.125rem;
        padding: 0.375rem;
        border-radius: 6px;
    }

    .button__link {
        display: flex;
        text-decoration: none;
        color: var(--black);
        align-items: center;
        gap: 0.25rem;
    }

    .card__image {
        height: 360px;
        width: 100%;
        object-fit: cover;
    }

    .button::after {}

    .swiper-button-prev {
        background-image: url(../img/other/iconamoon--arrow-left-2.svg) !important;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    .swiper-button-next, .swiper-button-prev {
        content: none;
        
    }

    .swiper-button-next img, .swiper-button-prev img {
        filter: drop-shadow(0px 0px 0.25rem var(--blue-dark));
    }
    .swiper__container {
        
    }
    .hamburger__menu {
        width: 3rem;
        height: 40px;
        z-index: 1;
        position: relative;
        cursor: pointer;
        
    }
    .hamburger__menu__line {
        position: absolute;
        width: 3rem;
        height: 0.25rem;
        background-color: var(--white);
        border-radius: 2px;
    }

    .hamburger__menu span:nth-child(1) { top: 0px; }
    .hamburger__menu span:nth-child(2) { top: 18px; }
    .hamburger__menu span:nth-child(3) { bottom: 0px; }

    .open span:nth-child(1){
        animation: topLine 0.6s forwards;
    }
    .open span:nth-child(2){
        animation: middleLine 0.6s forwards;
    }
    .open span:nth-child(3){
        animation: bottomLine 0.6s forwards;
    }

    @keyframes topLine {
        50% {top: 18px; transform: rotate(0deg);}
        100% {top: 18px; transform: rotate(45deg);}
    }
     @keyframes middleLine {
        50% {transform: translateX(0px); opacity: 100;}
        100% {transform: translateX(50px); opacity: 0;}
    }
     @keyframes bottomLine {
        50% {bottom: 18px; transform: rotate(0deg);}
        100% {bottom: 18px; transform: rotate(-45deg);}
    }

    .hamburger__menu__active {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.75rem;
        background-color: var(--secondary);
        /*visibility: collapse;*/
        position: fixed;
        width:100%;
        z-index: -1;
        top: -100%;
        transition: top 0.3s linear;
    }

    .hamburger__menu__active.open {
        top: 48px;
    }

    .hamburger--item {
        padding: 0.5rem;
        color: var(--white);
        font-size: 1.5rem;
        text-decoration: none;
        width: 100%;
        text-align: center;
    }
    @media (min-width: 1920px) {}
}