@import url('https://api.fontshare.com/v2/css?f[]=satoshi@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree&display=swap');


@layer reset, theme, page;

@layer reset {
    html {
        font-family: var(--font-regular);
        font-size: 100%;
    }

    body {
        color: var(--black);
        background-color: var(--white);
        box-sizing: border-box;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: var(--font-heading);
    }

    img {
        display: block;
        max-width: 100%;
        background-color: var(--orange-light);
    }

    header {
        position: sticky;
        top: 0;
    }
}

@layer theme {
    :root {
        --black: #000;
        --white: #fff;
        --primary: #FEF1DD;
        --secondary: #18251B;
        --orange-dark: #D47A4A;
        --orange-light: #F8BF87;
        --green-light: #87F8B8;
        --green-dark: #4AD488;
        --blue-light: #87EDF8;
        --blue-dark: #4AD4D4;

        --font-heading: 'Satoshi', sans-serif;
        --font-regular: 'Figtree', sans-serif;
    }
}

@layer page {

    .mobile {
        display: flex;
        justify-content: center;
        padding: 1rem;
    }

    .content {
        display: flex;
        flex-direction: column;
        max-width: 960px;
        align-items: center;
    }

    .heading {
        display: grid;
        justify-items: center;
        max-width: 244px;
    }

    .lepe_to_udelat_neslo {
        height: 4px;
        width: 100%;
        background-color: var(--secondary);
        border-radius: 5px;
    }

    .navigation {
        background-color: var(--secondary);
        display: flex;
        flex-direction: row;
        height: 76px;
        padding: 0 1rem;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    .navigation__logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .navigation__link {
        display: flex;
    }

    .footer__link {
        text-decoration: none;
        color: var(--white);
    }

    .navigation__link__item {}

    .footer {
        background-color: #18251B;
        display: flex;
        flex-direction: column;
    }

    .footer__link--socials {
        display: flex;
        justify-content: flex-start;
    }

    .footer__copyright {
        display: flex;
        gap: 0.25rem;
        color: var(--white);
        justify-content: flex-end;
    }

    .footer__bottom {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 1.25rem 1rem;
    }

    .footer__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 27px;
        padding: 1.25rem 1rem;
    }

    .grafier__logo {
        background-color: var(--white);
        padding: 0.25rem 0.75rem;
        border-radius: 2.5px;
    }

    .bubbles {
        display: flex;
        gap: 3rem;
        flex-direction: column;
    }

    .bubble {
        border: 1px solid var(--secondary);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        padding: 1.5rem 0.5rem;
        text-align: center;
    }

    .bubble--right {
        border-radius: 12px;
        border-bottom-left-radius: 0;
    }

    .bubble--left {
        border-radius: 12px;
        border-bottom-right-radius: 0;
    }

    .bubble__link {
        color: var(--orange-dark);
        font-weight: bold;
    }

    .bubble__title {
        font-weight: bold;
        font-size: 1.5rem;
    }

    .card {
        position: relative;
        z-index: -1;
    }

    .card__product {
    }

    .card__desc {
        position: absolute;
        bottom: 0;
        background-color: var(--white);
        border-radius: 0 4rem 4rem 0;
    }
    .big__font {
        font-size: 1.25rem;
    }
    .card__badge {
        background-color: var(--white);
        border-radius: 0 4rem 4rem 0;
        padding: 0.5rem 1rem;
        width: fit-content;
    }

    .card__badge--orange {
        background-color: var(--orange-dark);
        color: var(--white);
        font-weight: bold;
    }
    .card__badges {
        position: absolute;
        margin: 0.5rem 0;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .button {
        background-color: var(--orange-light);
        border: 1px solid var(--orange-dark);
        border-radius: 1.5px;
        width: fit-content;
        font-size: 1.125rem;
    }

    .button::after {}

    @media (min-width: 1920px) {}
}