.swiper-button-next::after,
.swiper-button-prev::after {
    display: none !important;
}

.swiper-button-next,
.swiper-button-prev {
    background-image: none !important; 
    width: auto;
}
.swiper-button-next img,
.swiper-button-prev img {
    width: 48px;
    height: auto;
    filter: drop-shadow(0px 0px 0.25rem var(--blue-dark));
    cursor: pointer;
}

.swiper-slide {
    max-width: 244px;
    width: 75%;
}